

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
*{
    padding:0;
    margin: 0;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}
body{
    box-sizing: border-box;
    background-image: url(./images/bg-pattern-top-desktop.svg),url(./images/bg-pattern-bottom-desktop.svg);
    background-position:left top,right bottom;
    background-repeat: no-repeat,no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    height: 80vh;
    width: 60rem;
    display:grid;
    grid-template-areas: 
    'text text rating rating'
    'feedback feedback feedback feedback' ;
    position: relative;
}
main .text-container {
    grid-area: text;
    position: absolute;
    padding: 30px;
}
main .text-container .heading {
    width:70%;
    font-weight: 700;
    font-size: xx-large;
    color: hsl(300, 43%, 22%);
}
main .text-container .service-desc {
    width: 70%;
    font-weight: 400;
    margin-top:20px;
    color: hsl(303, 10%, 53%);
}
main .rating-container {  

    grid-area: rating;
     position: absolute;  
    padding-left: 0px;
    padding-right: 80px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .rating-container .rating-box {
    display:flex;
    align-items: baseline;
    padding:1em;
    padding-left:20px;
    margin:5px;
    width: 22rem;
    border-radius: 12px;
    background-color: hsl(300, 24%, 96%);
}
main .rating-container .rating-box >div {
    color:hsl(300, 43%, 22%);
    font-weight: 500;
    margin-left:5px;
    margin-right:5px;
}
main .rating-container .report-rating {
    transform: translate(40px,0); 
}
main .rating-container .besttech-rating {
    transform: translate(80px,0);
}
main .feedback-container {
    position: absolute;
    grid-area: feedback;
    padding:20px;
    padding-bottom:40px;
    padding-top:0px;
    display: flex;
    flex-direction: row;
}
main .feedback-container .feedback-box {
    padding:20px;
    margin: 10px;
    width: 33%;
    border-radius: 8px;
    background-color: hsl(300, 43%, 22%);
}
main .feedback-container .feedback-box >div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .feedback-container .feedback-box >div >img {
    border-radius: 50%;
    margin-right: 20px;
}
.name {
    color: white;
    font-weight: 500;
}
.buy-status {
    color:hsl(333, 80%, 67%);
    font-weight: 400;
}
.comment {
    color: white;
    padding: 20px;
}

main .feedback-container .irene {
    transform: translate(0,20px);
}
main .feedback-container .anne {
    transform: translate(0,40px);
}





@media screen and (max-width:500px) {
    main {
        display:block;
    }
    main .text-container{
        position: relative;
        width:100%;
        height: fit-content;
        text-align: center;
    }
    main .text-container .heading{
        width: 80%;
    }
    main .text-container .service-desc {
        width: 80%;
    }
    main .rating-container
    {
        position: relative;
        align-items: center;
        width: 100%;
        padding:0px;
    }
    main .rating-container .rating-box {
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    main .rating-container .review-rating {
        width: 80%;
    }
    main .rating-container .report-rating {
        transform: translate(0px,0px);
        width:80%
    }
    main .rating-container .besttech-rating {
        transform: translate(0px,0px);
        width:80%
    }
    main .feedback-container
    {
        position: relative;
        flex-direction: column;
        align-items: center;
        width:100%;
        padding: 0px;
    }
    main .feedback-container .feedback-box {
        width: 80%;
        height: 10rem;
        padding:20px;
        margin:5px;
        transform: translate(0px,0px);
    }
    
}